apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: backend
data:
  keycloak_internal_url: "https://keycloak.k8tre.${ENVIRONMENT}.${DOMAIN}"
  keycloak_external_url: "https://keycloak.k8tre.${ENVIRONMENT}.${DOMAIN}"
  keycloak_realm: "k8tre-app"
  audience: "backend"
