# kare-dns staging environment overrides - minimal configuration
serviceType: LoadBalancer

servers:
- zones:
  - zone: k8tre.${ENVIRONMENT}.${DOMAIN}
  port: 53
  plugins:
  - name: etcd
    parameters: k8tre.${ENVIRONMENT}.${DOMAIN}
    configBlock: |-
      stubzones
      path /skydns
      endpoint http://etcd.kare-dns.svc.cluster.local:2379
  - name: template
    parameters: IN SOA k8tre.${ENVIRONMENT}.${DOMAIN}
    configBlock: |-
      match ^k8tre\.${ENVIRONMENT}\.${DOMAIN}\.$
      answer "{{ .Name }} 60 IN SOA ns1.k8tre.${ENVIRONMENT}.${DOMAIN}. admin.k8tre.${ENVIRONMENT}.${DOMAIN}. 2025091100 3600 1800 604800 86400"
      fallthrough
  - name: template
    parameters: IN NS k8tre.${ENVIRONMENT}.${DOMAIN}
    configBlock: |-
      match ^k8tre\.${ENVIRONMENT}\.${DOMAIN}\.$
      answer "{{ .Name }} 60 IN NS ns1.k8tre.${ENVIRONMENT}.${DOMAIN}."
      fallthrough
  - name: cache
    parameters: 30
  - name: health
    configBlock: |-
      lameduck 5s
  - name: ready
- zones:
  - zone: cluster.local
  port: 53
  plugins:
  - name: kubernetes
    parameters: cluster.local in-addr.arpa ip6.arpa
    configBlock: |-
      pods insecure
      fallthrough in-addr.arpa ip6.arpa
      endpoint_pod_names
  - name: cache
    parameters: 30
- zones:
  - zone: .
  port: 53
  plugins:
  - name: forward
    parameters: . /etc/resolv.conf
  - name: cache
    parameters: 30
